<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>Change Password</title>
   </head>
   <body>
      <!-- Include _menu.html -->
      <th:block th:include="/_menu"></th:block>
      
      <h1>Change Password</h1>
      <h3>Hi : <span th:utext="${#request.userPrincipal.name}"></span> would you like to change your password?</h3>
       <div th:if="${userInfo != null}" th:utext="${userInfo}"></div>
     
      <h3>Enter New password:</h3>
      <form name='f' th:action="@{/passwordChange}" method='POST' th:object="${user}">
         <table>
            <!--<tr>
               <td>Enter Username:</td>
               <td><input type='text'  th:field="*{name}" name='username' value=''></td>
            </tr> -->
            <tr>
               <td>Enter new Password:</td>
               <td><input type='password' th:field="*{encryptedPassword}" /></td>
            </tr>
            <tr>
               <td><input type="reset" value="Clear"/></td>
               <td><input name="submit" type="submit" value="submit" /></td>
            </tr>
         </table>
      </form>
           
      <br>
    
         
   </body>
  
</html>