<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Create New Product</title>
</head>
<body>
	<div align="center">	
	  <th:block th:include="/_menu"></th:block>
      
		<h1>Create New Product</h1>
		<br/>
		<form action="#" th:action="@{/save}" th:object="${product}" method="post">
			<table border="0" cellpadding="10">
				<tr>
					<td>Product Name:</td>
					<td><input type="text" th:field="*{productName}" /></td>
				</tr>
				<tr>
					<td>Product description:</td>
					<td><input type="text" th:field="*{productDesc}" /></td>
				</tr>				
				<tr>
					<td>Product Category:</td>
							<td><select th:field="*{productCategoryID}">
						          <option th:each="category : ${listCategory}"
						                th:value="${category.categoryId}"
						                th:text="${category.categoryId}+' : '+${category.categoryName}">
						            </option>
						    </select></td>
					<!--<td><input type="text" th:field="*{productCategoryID}" /></td>-->
				</tr>				
				<tr>
					<td>Product Price:</td>
					<td><input type="text" th:field="*{productPrice}" /></td>
				</tr>				
				<tr>
					<td colspan="2"><button type="submit">Save</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>