<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
 <title th:utext="${title}"></title>
</head>
<body>
<div align="center">	
 <!-- Include _menu.html -->
      <th:block th:include="/_menu"></th:block>

	<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	<!--<form th:action="@{/logout}" method="post">
		<input type="submit" value="Logout" />
	</form>-->

	  <h2 align="center">Search Signed Up Users</h2>
	  <form th:action="@{/searchUsers}" method="get">
	  <input type="text" name="keyword"  th:name="keyword" size="50" >
	  <button type="submit" class="btn btn-info" >Search</button>
	  <button type="submit" class="btn btn-info" >Reset</button>
	  </form>
	
	<br/>	<br/>
	<table border="1" cellpadding="10">
		<thead>
			<tr>
				<th>Username</th>
				<th>Email Address</th>
				<th>First name</th>
				<th>Last Name</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="users : ${listUsers}">
				<td th:text="${users.userName}">Username</td>
				<td th:text="${users.userEmail}">Email Address</td>
				<td th:text="${users.userFirstname}">First Name</td>
				<td th:text="${users.userLastname}">Last Name</td>
			</tr>
		</tbody>
	</table>
</div>
</body>
</html>